<!-- Footer -->
<footer class="page-footer font-small stylish-color-dark">

    <!-- <div class="footer-copyright text-left pt-5">© 2020 Update 24x7
    </div> -->
    <div style='float:center; width:120%; color: #d3d3d3; background-color:  #303036' class="footer-copyright text-left pt-5">
        © 2020 Update 24x7
    
    <div style='float:left; width:50%;margin-left:80px; background-color:  #303036;'> Page #1
    

    <div style='float:left; width:60%; margin-left:80px; background-color:  #303036;'> Phone: +1 (652) 874-3654
    </div>
</div>
</div>
    
    <!-- Copyright -->


  </footer>
  <!-- Footer -->
