<!-- Footer -->
<footer class="page-footer font-small stylish-color-dark">

    <!-- <div class="footer-copyright text-left pt-5">© 2020 Update 24x7
    </div> -->
    <div style='float:center; width:120%; background-color:darkcyan' class="footer-copyright text-left pt-5">
        © 2020 Update 24x7
    
    <div style='float:left; width:50%; margin-left:80px; background-color: darkcyan;'> Page #1
    

    <div style='float:left; width:60%; margin-left:80px; background-color: darkcyan;'> +1 (652) 874-3654
    </div>
</div>
</div>
    
    <!-- Copyright -->


  </footer>
  <!-- Footer -->
