<nav class="navbar navbar-expand-md bg-dark navbar-dark fixed-top">
  <a class="navbar-brand" href="#">UPDATE 24X7</a>
  
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="collapsibleNavbar">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link active" href="/">Home</a>
      </li>
      <li class="nav-item">
          <a class="nav-link" href="/sports">Sports</a>
        </li>
      <li class="nav-item">
        <a class="nav-link" href="/aboutus">About Us</a>
      </li>
      <li class="nav-item">
              <a class="nav-link" href="/contactus">Contact Us</a>
      </li>
      <li class = "nav-item">
        <a class = "nav-link" (click) = "logout()">Logout</a>
      </li>
      <li class = "nav-item">
        <a class = "nav-link" href = "/newslist">News List</a>
      </li>
    </ul>
  </div> 
  </nav>
  <br><br><br>
<!--Nav bar above-->


  
    <!-- <div class="container page">
      <div class="row">
  
        <div class="col-md-9">
          <div class="feed-toggle">
            <ul class="nav nav-pills outline-active">
              <li class="nav-item">
                <a class="nav-link">
                   Weather Report
                </a>
              </li>
            </ul>
          </div>
  
  
        </div> -->
        <h2 align = "center">Weather</h2>
        <h4>
          <div align = "center">City: {{city}}</div>
          <div align = "center">Description:  {{description}}</div>
          <div align = "center">Temperature: {{temp}} <span>&#8457;</span> </div>
        </h4> <br> <hr>




      <div id="slideshow">
        <div class="slide-wrapper">
          <div class="slide"><div class="info top-left"><h3>Top 10 National Parks</h3><img src="https://live.staticflickr.com/65535/49772305242_fddd327945_h.jpg" /></div></div>
          <div class="slide"><div class="info top-left"><h3>Places to Visit in Spain</h3><img src="https://live.staticflickr.com/65535/49740338646_8a84ea122c_h.jpg" /></div></div>
          <div class="slide"><div class="info top-left"><h3>How to Bake your own Bread</h3><img  src="https://live.staticflickr.com/327/19535227112_1082777a7f_h.jpg" /></div></div>
        </div>
      </div>

      <br><br><br>
      <hr>
      <div *ngFor = "let news of latestNews">
          <div class="info top-left"><h3>{{news.title}}</h3></div>
          <div><h5>{{news.description}}</h5></div>
      </div>
      

<br>

<div class="container">
  <div class="row mt-2">
    <div class="col-md-10">
      <h4>Messages</h4>
      <ul id="chat" class="list-group" *ngFor="let msg of messages">
        <li class="list-group-item">
          <b>{{ msg.username }}</b>
          <br />
          {{ msg.msg }}
        <small class="float-right">{{ msg.time }}</small>
        </li>
      </ul>
    </div>
    <div class="col-md-2">
      <h4>Users</h4>
      <ul id="users" class="list-group" *ngFor="let user of users">
        <li class="list-group-item">
          {{ user }}
        </li>
      </ul>
    </div>
  </div>

  <div class="card">
    <div class="card-body">
      <form id="msgForm" (submit)="onSubmit()">
        <input type="text" id="msg" name="message" class="form-control" placeholder="Type Here..." [(ngModel)]="message">
      </form>
    </div>
  </div>
</div> <br> <br><br><br><br><br><br><br>
<div><app-footer></app-footer></div>

        <!-- <div class="banner">
            <div class="container">
              <p>Latest News 1<i>Latest News 2</i> Latest News 3 </p>
            </div>
        </div>

        <div class="col-md-9">
          <div class="feed-toggle">
            <ul class="nav nav-pills outline-active">
              <li class="nav-item">
                <a class="nav-link">
                   Some Story Related News
                </a>
              </li>
            </ul>
          </div>

            <div class="col-md-3">
              <div class="sidebar">
                <p>Chat</p>
      
      
              </div>
            </div>
  
      </div>
    </div>
  </div> -->
