<header>
    <meta charset = "UTF-8" />
</header>

<div class="container">
    <div class="jumbotron">
<a [routerLink]="['/newslist']">Back</a>
<br />
<h2>Edit News</h2>
<form (submit)="onEditSubmit()">
  <div class="form-group">
    <label>Title:</label>
    <input class="form-control" type="text" [(ngModel)]="title" name="title" #titleControl="ngModel" required="required" />
  </div>
  <div class="form-group">
    <label>Description:</label>
    <input class="form-control" type="text" [(ngModel)]="description" name="description" #descriptionControl="ngModel" required="required" />
  </div>
  <div class="form-group">
    <label>Published At:</label>
    <input class="form-control" type="text" [(ngModel)]="publishedAt" name="publishedAt" #publishedAtControl="ngModel" required="required" /> 
  </div>
  <input type="submit" value="submit" class="btn btn-success" />
</form>
</div>
</div>
