<nav class="navbar navbar-expand-md bg-dark navbar-dark fixed-top">
    <a class="navbar-brand" href="#">UPDATE 24X7</a>
    
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="collapsibleNavbar">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="/">Home</a>
        </li>
        <li class="nav-item">
            <a class="nav-link active" href="/sports">Sports</a>
          </li>
        <li class="nav-item">
          <a class="nav-link" href="/aboutus">About Us</a>
        </li>
        <li class="nav-item">
                <a class="nav-link" href="/contactus">Contact Us</a>
        </li>
      </ul>
    </div> 
    </nav>
    <br><br><br>
<!--Nav bar above-->

<h1 align="center">Sports Page</h1>


<div class="container">
  
  <p><span>NBA</span> NBA mock draft: Breaking down the first round</p>
  <p>With no definitive timeline to resume the season the NBA draft is 
    up in the air. Here's a look at how it could unfold once it does take place...
  </p>
</div>

<div class="container">
 
  <p><span >NFL</span> NFL draft 2020 rankings</p>
  <p>Joe Burrow is expected to be the No. 1 pick in the 2020
    NFL draft, but the LSU QB takes a backseat to Ohio State DE Chase Young in our rankings...
  </p>
</div>

<div class="container">

  <p><span >MLB</span> Bat used by Yankees legend sells for over $1M</p>
  <p>The historic 1922 bat New York Yankees Hall of Famer Lou Gehrig wanted
    copied after signing his first endorsement contract fetches $1.025 million...
  </p>
</div>

<!--Sports Articles used above: 
https://www.usatoday.com/story/sports/nba/draft/2020/04/09/nba-mock-draft-first-round-lamelo-ball-obi-toppin/5111670002/
https://www.usatoday.com/story/sports/nfl/draft/2020/04/13/nfl-draft-2020-rankings-top-players-chase-young-joe-burrow/2980313001/
https://www.usatoday.com/story/sports/mlb/yankees/2020/04/08/new-york-yankees-legend-lou-gehrig-bat-sells-1-025-million/2971062001/
-->