<div class="container">
    <div class="row">
      <div class="col">
        <p style="line-height: 1.7rem">A 24/7 newspaper company dedicated to honesty, integrity, and professionalism in the news industry</p>
      </div>
    </div>

    <div class="row">
        <div class="col">
            <agm-map style="height:500px" [zoom]='19' [latitude]="lat" [longitude]="lng"> 
                <agm-marker [latitude]="lat" [longitude]="lng">
                 </agm-marker> 
              </agm-map>
        </div>
      </div>
</div>
